* {
    color: white;
    font-family: "Roboto", sans-serif;
}

body {
    background: #181818;
    margin-left: 30px;
    margin-right: 20px;
}

#search {
    margin-top: -9px;
    display: block;
    border: none;
    background: rgba(255, 255, 255, .5);
    border-radius: 10px;
    padding: 20px;
    color: black;
    outline: none;
    width: 93%;
    font-size: 16px;
}

#block {
    display: block;
    border: none;
    margin-top: -12px;
    background: rgba(255, 255, 255, .5);
    border-radius: 10px;
    padding: 20px;
    color: black;
    outline: none;
    width: 97%;
    font-size: 24px;
}

#nb {
    display: block;
    border: none;
    margin-top: 9px;
    background: rgba(255, 255, 255, .5);
    border-radius: 10px;
    padding: 20px;
    color: white;
    outline: none;
    width: 74%;
    font-size: 16px;
    margin-right: 20px;
    text-decoration: none;
}

#nb:hover {
    opacity: .9;
}

#title {
    margin-top: 9px;
    margin-right: 25px;
}

#logo {
   margin-top: -9px;
   margin-left: 15px;
}

#sb {
    display: block;
    border: none;
    margin-top: -9px;
    background: rgba(255, 255, 255, .5);
    border-radius: 10px;
    padding: 12px;
    color: white;
    outline: none;
    width: 65%;
    margin-left: 35px;
}

#sb:hover {
    opacity: .9;
}

#footer {
    position: fixed;
    left: 0; bottom: 0;
    padding: 20px;
    background: #202020;
    color: #fff;
    width: 100%;
   }

#ab {
    display: block;
    display: block;
    border: none;
    margin-top: 0px;
    background: rgba(255, 255, 255, .5);
    border-radius: 10px 10px 0 0;
    padding: 20px;
    padding-bottom: 30px;
    color: white;
    outline: none;
    width: 52%;
    font-size: 16px;
    margin-right: 15px;
    text-decoration: none;
}

#abc {
    display: block;
    border: none;
    margin-top: 0px;
    background: rgba(255, 255, 255, .2);
    border-radius: 10px 10px 0 0;
    padding: 20px;
    padding-bottom: 30px;
    color: white;
    outline: none;
    width: 52%;
    font-size: 16px;
    margin-right: 15px;
    text-decoration: none;
}
